@import "../assets/animate/animate.scss";
.animateApp{
    .logo{
        @include fadeInDown($duration: 1.5s);
    }
    .social-icon{
          ion-col{
            &:nth-child(1){
            @include zoomIn(
               $delay: .8s
            );
            } 
            &:nth-child(2){
            @include zoomIn(
               $delay: 1.2s
            );
            } 
            &:nth-child(3){
            @include zoomIn(
               $delay: 1.6s
            );
            }  
        }
    }
    .menu-inner{
        .footer{
            p{
               @include fadeInLeft($duration: 1.1s);       
            }
        } 
    } 
    page-details{
        .details{
            @include slideInDown($duration: 2s);
        } 
    } 
    @for $i from 1 through 100 {
        .main-list,.special-grid {
            &:nth-child(#{$i}){
                @include fadeInLeft($delay: $i/1.5 + s);
            }
        } 
    } 
}



    